.ctnBody{

    display: flex;
    align-items: center;
    justify-content:flex-start;
    height: 100%;
    }


    .itmLeft{
        width: 30%;
    height: 100%;
    display:flex;
    box-sizing: border-box;
}
     .itmLeft > .itmPattern{
         width: 500px;
     }

.itmRight{
    border: 5px solid #e6e6ff; 
    margin-left: 20px; 
    flex-direction: column;
    height: 600px;
    width: 600px;
    justify-content: flex-start;
    align-self: center;
}

        .ctnLogin{
            display: flex;
            border: 2px solid #e6e6ff;
            flex-direction: column;
        }
         

        .ctnInputs{
            display: flex;
            flex-direction: column;
            margin-left: 15%;
            width: 75%;
        }
            .itmUsername{
                margin-top: 70px;
                margin-bottom: 5px;
                border: 5px solid #e6e6ff;
            }
            .itmPassword{
                margin-top: 5px;
                margin-bottom: 5px;
                border: 5px solid #e6e6ff;
            }


    
.ctnButton{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    width: 75%;
}
        .ctnButton > .itmLoginButton{
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: indianred;
            border: 5px solid #e6e6ff;
        }
        .ctnButton > .itmGoogleButton{
            margin-top: 5px;
            background-color: indianred;
            border: 5px solid #e6e6ff;
        }
