.ctnBody{

    display: flex;
    align-items: center;
    justify-content:flex-start;
    height: 100%;
    background-image: url(https://i.pinimg.com/736x/eb/56/31/eb563113be40ea5aa7b9726afc3321fc.jpg);
    }


.itmLeft{
        width: 30%;
    height: 100%;
    display:flex;
    box-sizing: border-box;
    }
     .itmLeft > .itmPattern{
         width: 500px;
     }

.itmRight{
    border: 6px solid #e6e6ff; 
    margin-left: 3%; 
    margin-right: 20%;
    flex-direction: column;
    height: 600px;
    width: 500px;
    justify-content: flex-start;
    align-self: center;
}

        .ctnLogin{
            font-family: monospace;
            display: flex;
            flex-direction: column;
        }
         

        .ctnInputs{
            font-family: monospace;
            display: flex;
            flex-direction: column;
            margin-left: 15%;
            width: 75%;
        }
            .itmUsername{
                margin-top: 70px;
                margin-bottom: 5px;
                border: 5px solid #e6e6ff;
            }
            .itmPassword{
                margin-top: 5px;
                margin-bottom: 5px;
                border: 5px solid #e6e6ff;
            }


    
.ctnButton{
    font-family: monospace;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    width: 75%;
}
        .ctnButton > .itmLoginButton{
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: indianred;
            border: 5px solid #e6e6ff;
        }
        .ctnButton > .itmGoogleButton{
            margin-top: 5px;
            background-color: indianred;
            border: 5px solid #e6e6ff;
        }
